:root {
  --brightOrange: #F7931E;
  --brightBlue: #27AAE1;
  --textAndButtonYellow: #F3BD1F;
  --darkOrange: #EE7023;
  --lightGrey: #F1F2F2;
  --midLightGrey: #E6E7E8;
  --midToneGrey: #D1D3D4;
}
body::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(207, 207, 206);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color:rgb(155, 155, 155);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  /*border: 3px solid orange;  /* creates padding around scroll thumb */
}

body {
  margin: 0;
 font-family: 'Poppins', sans-serif;
}
html,body { 
  height:100%; 
  display: flex;
  flex-direction: column;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*****************begin of login/signup css*****************/
.leftLayout{
  background-color: black;
  height: 100%;
  width: 50%;
  position: absolute;
    top: 0;
    bottom: 0;
  color: var(--textAndButtonYellow);
  font-size: 30px;
  text-align: left;
  display: flex;
  justify-content: center;
}
.leftSwitchedLayout{
  background-color: black;
  height: 100%;
  width: 50%;
  position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  color: var(--textAndButtonYellow);
  font-size: 30px;
  text-align: left;
  display: flex;
  justify-content: center;
}
.leftLayout h1{
  width:65%;
  margin-left: 50px;
}
.leftSwitchedLayout h1{
  width:65%;
  margin-left: 50px;
}
.blueOutline{
border:solid 3px var(--brightBlue); 
width: 85%;
margin-top: 40px;
margin-bottom: 40px; 
display: flex;
justify-content: center;
}
.rightLayout{
  background-color:var(--brightOrange);
  position: absolute;
   right: 0;
   top: 0;
   bottom: 0;
   height: 80%;
   width: 50%;
}
.rightSwitchedLayout{
  background-color:var(--brightOrange);
  position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   height: 80%;
   width: 50%;
}
.rightLayout h1{
  margin-bottom: 40px;
  margin-top: 35px;
  font-size: 25px;
  color: var(--textAndButtonYellow);
}
.rightSwitchedLayout h1{
  margin-bottom: 40px;
  margin-top: 35px;
  font-size: 25px;
  color: var(--textAndButtonYellow);
}
.alignForm{
 margin-left: 50px;
 color: white;


}

.alignForm input{
  margin-top: 8px;
  margin-bottom: 10px;
  border: none;
  height: 20px;
  border-radius: 3px;
}
.alignSwitchedForm input{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  border: none;
  height: 22px;
  border-radius: 3px;
}
.mainDiv{
  display: flex; 
  width: 100%;
  margin-top: 40px;
}

.controlDiv{
  display: flex;
  flex-wrap: wrap;
  width:55%;
}
input[type=text]:focus {
   outline: none;
}
.alignForm form{
  display: flex;
  flex-direction: column; 
  width: 40%;
  font-size: 15px;
}
.greenButton{
  height: 50px;
  width: 135px;
  text-align: center;
  background-color: #4CAF50; /* Green */
  /*background-color: var(--textAndButtonYellow);*/
  border-radius: 20px;
  color: white;
  font-size: 23px;
  border: none;
  margin-top: 30px; 
}
.greenSwitchedButton{
  height: 50px;
  width: 135px;
  text-align: center;
  background-color: #4CAF50; /* Green */
  /*background-color: var(--textAndButtonYellow);*/
  border-radius: 20px;
  color: white;
  font-size: 23px;
  border: none;
  margin-top: 100px; 
}
.buttonDiv{
  display: flex;
  justify-content: space-around;
}
.dogsNum{
  width: 12%;
}
.bottomBlue{
background-color: var(--brightBlue);
position: absolute;
right: 0;
bottom: 0;
width: 50%;
height: 20%;
}
.bottomSwitchedBlue{
  background-color: var(--brightBlue);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 30%;
  }
/*********************end of login/signup css*******************************/
/****************************************************/

/****************************************************/
/*********************User Profile*******************/
.allUserElements{
  width: 80%;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  /*border: yellowgreen solid 2px;*/
}
.leftAndRight{
  display: flex;
  justify-content: space-between;
}
.leftSideUser{
  background-color: var(--lightGrey);
  width: 55%;
}
.contact h4{
 margin-top: -10px;
}
.rightSideUser{
  background-color: var(--lightGrey);
  width: 42%;
  display: flex;
  
  flex-wrap: wrap;
  /*border: yellowgreen 2px solid;*/
}
.rightSideUser form{
  display: flex;
  align-items: center;
  margin-left: 30px; 
}

.blackBar{
  color: white;
  background-color: black;
  height:50px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  font-size: 25px;
}

.list{
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
}
.text{
    margin-left: 25px;
    width: 100%;
  }
 .dogWalkersLeft{
  
   height:100px; 
   width:85%;
   overflow:hidden; 
   overflow-y:scroll;
   background-color: white;
   list-style: none;
 
  }
  .dogWalkersRight{
  
    height:100px; 
    width:85%;
    overflow:hidden; 
    overflow-y:scroll;
    background-color: white;
    list-style: none;
   }
  
  .bottomOrange{
    background-color: var(--brightOrange);
    width: 100%;
    height: 250px;
  }
  .userNav{
    display: flex;
    justify-content: space-between;
  }
  .userNav h1{
    margin-left: 30px;
  }
  .logoutAndHome{
    display: flex;
    justify-content: space-between;
  }
  .logout{
    margin-right: 5px;
  }
  .newLocationSearchInput{
    background-color: var(--brightOrange);
    border: none;
    height: 15px;
    border-radius: 25px;
    padding: 10px;
    padding-top: 12px;
    padding-left: 15px;
    border-radius: 20px;
    color: white;
    font-size: 1.2em;
    
  }
  .newLocationSearchInput::placeholder {
    color: white;
    font-size: 1em;
  }
  .newLocationSearchButton{
    height: 35px;
    width: 35px;
    text-align: center;
    background-color: var(--brightOrange);
    border-radius: 25px;
    border: none;
    margin-left: 13px;
    
  }
  .scroll::-webkit-scrollbar {
    width: 6px;               /* width of the entire scrollbar */
  }
  
  .scroll::-webkit-scrollbar-track {
    /*background: orange;        /* color of the tracking area */
  }
  
  .scroll::-webkit-scrollbar-thumb {
    background-color:var(--midToneGrey);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    /*border: 3px solid orange;  /* creates padding around scroll thumb */
  }
 /***********************end of User***************************/
 /*************************************************************/


















 @media only screen and (min-width: 1200px) {
  .leftSwitchedLayout h1{
    width:50%;
    margin-left: 50px;
    font-size: 55px;
  }
  .leftLayout h1{
    width:50%;
    margin-left: 50px;
    font-size: 55px;
  }
  }
 @media only screen and (min-width: 1400px) {
  
  .leftLayout h1{
    width:50%;
    margin-left: 50px;
    font-size: 60px;
  }
  .leftSwitchedLayout h1{
    width:50%;
    margin-left: 50px;
    font-size: 60px;
  }
 
  .alignForm{
   margin-left: 50px;
   color: white;
   font-size: 30px;
  
  }
 
  .mainDiv{
    display: flex; 
    width: 65%;
  }
  .alignForm input{
    margin-top: 8px;
    margin-bottom: 10px;
    border: none;
    height: 25px;
    border-radius: 3px;
  }
  .alignSwitchedForm input{
    margin-top: 7px;
    margin-bottom: 10px;
    border: none;
    height: 25px;
    border-radius: 3px;
    
  }
  
  .controlDiv{
    display: flex;
    flex-wrap: wrap;
    
  }

  .alignForm form{
    display: flex;
    flex-direction: column; 
    width: 40%;
    font-size: 16px;
  }

  .greenSwitchedButton{
    height: 60px;
    width: 145px;
    text-align: center;
    background-color: #4CAF50; /* Green */
    /*background-color: var(--textAndButtonYellow);*/
    border-radius: 20px;
    color: white;
    font-size: 25px;
    border: none;
    margin-top: 100px; 
  }
}
 
 
