:root {
  --brightOrange: #F7931E;
  --brightBlue: #27AAE1;
  --textAndButtonYellow: #F3BD1F;
  --darkOrange: #EE7023;
  --lightGrey: #F1F2F2;
  --midLightGrey: #E6E7E8;
  --midToneGrey: #D1D3D4;
}
body::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(207, 207, 206);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color:rgb(155, 155, 155);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  /*border: 3px solid orange;  /* creates padding around scroll thumb */
}

body {
  margin: 0;
 font-family: 'Poppins', sans-serif;
}
html,body { 
  height:100%; 
  display: flex;
  flex-direction: column;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*****************begin of login/signup css*****************/
.totalLayout{
   overflow: hidden;
}
.leftLayout{
  background-color: black;
  height: 100%;
  width: 50%;
  position: absolute;
    top: 0;
    bottom: 0;
  color: var(--textAndButtonYellow);
  overflow: hidden;
  
  text-align: left;
  display: flex;
  justify-content: center;
}
.leftSwitchedLayout{
  background-color: black;
  height: 100%;
  width: 50%;
  position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  color: var(--textAndButtonYellow);
  text-align: left;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.leftLayout h1{
  width:65%;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px; 
  font-size: clamp(40px, 5vw, 65px)
}

.leftSwitchedLayout h1{
  width:65%;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px; 
  font-size: clamp(40px, 5vw, 65px)
}

.blueOutline{
border:solid 3px var(--brightBlue); 
width: 85%;
margin-top: 40px;
margin-bottom: 40px; 
display: flex;
justify-content: center;
overflow: hidden;
}
.rightLayout{
  background-color:var(--brightOrange);
  position: absolute;
   right: 0;
   top: 0;
   bottom: 0;
   height: 100%;
   width: 50%;
   overflow: hidden;
}
.rightSwitchedLayout{
  background-color:var(--brightOrange);
  position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   height: 100%;
   width: 50%;
   overflow: hidden;
}
.rightLayout h1{
  margin-bottom: 40px;
  margin-top: 35px;
  font-size: 25px;
  color: var(--textAndButtonYellow);
}
.rightSwitchedLayout h1{
  margin-bottom: 40px;
  margin-top: 35px;
  font-size: 25px;
  color: var(--textAndButtonYellow);
  min-width: 200px;
}
.alignForm{
 margin-left: 50px;
 color: white;
 
}
.alignForm h1{
  cursor: pointer;
}
.alignFormAltered{
  margin-left: 50px;
  color: white;
 
 
 }


.alignForm input{
  margin-top: 8px;
  margin-bottom: 10px;
  border: none;
  height: 20px;
  border-radius: 3px;
}
.alignSwitchedForm input{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  border: none;
  height: 22px;
  border-radius: 3px;
}
.alignSwitchedForm h1{
  cursor: pointer;
}
.mainDiv{
  display: flex; 
  width: 100%;
  margin-top: 40px;
}

.controlDiv{
  display: flex;
  flex-wrap: wrap;
  
}
input[type=text]:focus {
   outline: none;
}
.alignForm form{
  display: flex;
  flex-direction: column; 
  width: 40%;
  font-size: 15px;
  z-index: 100;
}
.alignFormAltered form{
  display: flex;
  flex-direction: column; 
  width: 40%;
  font-size: 15px;
  z-index: 100;
}
.greenButton{
  height: 50px;
  width: 135px;
  text-align: center;
  background-color: #4CAF50; /* Green */
  /*background-color: var(--textAndButtonYellow);*/
  border-radius: 20px;
  color: white;
  font-size: 23px;
  border: none;
  margin-top: 50px; 
  z-index: 99;
  cursor: pointer;
}
.greenSwitchedButton{
  height: 50px;
  width: 135px;
  text-align: center;
  background-color: #4CAF50; /* Green */
  /*background-color: var(--textAndButtonYellow);*/
  border-radius: 20px;
  color: white;
  font-size: 23px;
  border: none;
  margin-top: 100px; 
  z-index: 99;
  cursor: pointer;
}
.buttonDiv{
  display: flex;
  justify-content: space-around;
}
.dogsNum{
  width: 12%;
}
.bottomBlue{
background-color: var(--brightBlue);
position: absolute;
right: 0;
bottom: 0;
width: 50%;
height: 150px;
}
.bottomSwitchedBlue{
  background-color: var(--brightBlue);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
height: 150px;
  
  }
/*********************end of login/signup css*******************************/
/****************************************************/

/****************************************************/
/*********************User Profile*******************/
.allUserElements{
  width: 70%;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
 
  /*border: yellowgreen solid 2px;*/
}
.leftAndRight{
  display: flex;
  justify-content: space-between;
  
}
.leftSideUser{
  background-color: var(--lightGrey);
  width: 55%;
  border-radius: 10px;
  

}
.leftSideUserProfile{
  background-color: #20c5ee;
  width: 50%;
  z-index: 99;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.contact{
  margin-top: 20px;
 
}
.contact h2{
 margin: 0px;
}
.contact h4{  
  margin-top: 10px;
  margin-bottom: 7px;
}
.contactDogWalker{
 margin-bottom: 20px;
}
.about{
  width: 90%;
}
.rightSideUser{
  border-radius: 10px;
  background-color: var(--brightOrange);
  color: white;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  /*border: yellowgreen 2px solid;*/
}
.rightSideUserForDogWalking{
  border-radius: 10px;
  background-color: #20c5ee;
  color: white;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  /*border: yellowgreen 2px solid;*/
}
.rightSideUserCalender{
  background-color: var(--lightGrey);
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  border-radius: 10px;

  /*border: yellowgreen 2px solid;*/
}
.rightSideUser form{
  display: flex;
  align-items: center;
  margin-left: 30px; 
}

.blackBar{
  color: white;
  background-color: black;
  height:50px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  font-size: 25px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.list{
   
   margin-bottom: 20px;
   margin-left: 25px;
}
.text{
    margin-left: 25px;
    width: 100%;
    
  }

  
  .textLocation{
    margin-left: 25px;
    width: 100%;
    color: white;
  }
  .dogWalkers{
  
    height:100px; 
    width:150px;
    overflow:hidden; 
    overflow-y:scroll;
    background-color: rgb(236, 236, 236);
    list-style: none;
    padding: 10px;
    border-radius: 10px;
    border: 10px white solid;
    margin-right: 20px;
   }
 .dogWalkersLeft{
  
   height:100px; 
   width:500px;
   overflow:hidden; 
   overflow-y:scroll;
   background-color: rgb(236, 236, 236);
   list-style: none;
   padding: 10px;
   border-radius: 10px;
   border: 10px white solid;
  }
  .dogWalkersRight{
  
    height:200px; 
    width:500px;
    overflow:hidden; 
    overflow-y:scroll;
    background-color: rgb(236, 236, 236);
    list-style: none;
    padding: 10px;
    border-radius: 10px;
    border: 10px rgb(255, 255, 255) solid;
    margin-bottom: 20px;
  }
   .dogWalkersLeft li{
     margin-bottom: 10px;
     color: rgb(0, 0, 0);
   }
   .dogWalkersRight li{
    margin-bottom: 10px;
    color: rgb(0, 0, 0);

  }
  
  .bottomOrange{
    border-bottom: var(--brightOrange) 200px solid;
    width: 100%;
    
    background-image: url(./assets/bluePattern.png);
    height: 60px;    
  }
  
  .userNav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    background-color: rgb(235, 232, 232);
  }
  .userNav h1{
    margin-left: 30px;
  }
  .logoutAndHome{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-right: 30px;
  }
  .logout{
    margin-right: 5px;
  }
  .newLocationSearchInput{
    background-color: black;
    border: none;
    height: 15px;
    border-radius: 25px;
    padding: 10px;
    padding-top: 12px;
    padding-left: 15px;
    border-radius: 10px;
    color: white;
    font-size: 1.2em;
    margin-bottom: 25px;
    
  }
  .newLocationSearchInput::placeholder {
    color: white;
    font-size: 1em;
  }
  .newLocationSearchInputHome{
    background-color: rgb(255, 255, 255);
    border: none;
    height: 10px;
    border-radius: 25px;
    padding: 10px;
    padding-top: 12px;
    padding-left: 15px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    margin-bottom: 25px;
    width: 120px;
    margin: 20px;
  }
  .newLocationSearchInputHome::placeholder {
    color: white;
    font-size: 1em;
  }
  .newLocationSearchButton{
    height: 35px;
    width: 35px;
    text-align: center;
    background-color: black;
    border-radius: 25px;
    border: none;
    margin-left: 13px;
    margin-bottom: 30px;
    cursor: pointer;

  }
  .newLocationSearchButtonHome{
    height: 30px;
    width: 30px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    border: none;
    margin-left: 5px;
    margin-bottom: 30px;
    cursor: pointer;
    margin-top: 20px;

  }
  .dropDownlocation form{
    display: flex;
    justify-content: flex-start;
    
  }
  .closeModal{
    height: 30px;
    width: auto;
    position: absolute;
    top: 15px;
    right: 15px;
  
  }
  .closeModal:hover{
      transform: rotate(180deg);
      transition: transform 150ms ease,
  }
  .close{
    height: 30px;
    width: auto;
    position: relative;
    top: 10px;
    margin-left: 235px;
  }
  .closeRight{
    height: 30px;
    width: auto;
    position: relative;
    top: 10px;
    margin-left: 190px;
  }
  .arrow-down-blue {
    /*width: 0; 
    height: 0; 
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    transform: rotate(45deg);*/
    /*border-bottom: 50px solid var(--brightOrange);*/
    position: absolute;
    right: 51%;
    z-index: 0;
    margin-top: 15px;
  }

  .arrow-down-orange{
    /*width: 0; 
    height: 0; 
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    transform: rotate(45deg);*/
    /*border-bottom: 50px solid var(--darkOrange);*/
    position: absolute;
    right: 51%;
    z-index: 0;
    margin-top: 15px;
  }
  
  .current{
    margin-bottom: 0px;
    margin-top: 30px;
  }
  .secondRow{
    display: flex;
    justify-content: space-between;
  }
  .yourDogs{
    margin-top: 20px;
    margin-bottom: 50px;
    width: 100%;
    height:auto;
     display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 10px;
  }
  .add{
     height: 30px;
     width: auto;
     margin-top: auto;
     margin-bottom: auto;
     margin-right: 15px;

  }
  .completeTitle{
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    border-radius: 10px;
    margin-top: 75px;
    padding-left: 10px;
  }
  .dogTitle{
    
    color: white;
    
  }
  .dogBlock{
    width: 49%;
    margin-bottom: 25px;
    
  }
  .eachDog{
    background-color: var(--lightGrey);
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;  
    border-radius: 10px;
    /*border: rgb(0, 0, 0) 5px solid;*/
  }
  .dogPic{
    height: 100px;
    width: 100px;
    background-color: black;
    margin: 20px;
    border-radius: 20px;

  }
  .dogInfo p{
    margin: 13px;
    font-weight: 500;
  }
  .dogInfo{
    margin-top: 0px;
    /*border-left: .05rem solid black;*/
  }
  .alignRightSide{
    display: flex;
    flex-direction: column;
    
  }
  .scroll::-webkit-scrollbar {
    width: 6px;               /* width of the entire scrollbar */
  }
  
  .scroll::-webkit-scrollbar-track {
    /*background: orange;        /* color of the tracking area */
  }
  
  .scroll::-webkit-scrollbar-thumb {
    background-color:var(--midToneGrey);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    /*border: 3px solid orange;  /* creates padding around scroll thumb */
  }
 /***********************end of User***************************/
 /*************************home page****************************/
 .bluePat{
   background-image: url(./assets/bluePattern.png);
   height: 210px;
   width: auto;
  
 }
.logo{
   height: 70px;
   width: auto;
   margin: 40px;
   margin-top: 15px;
}

.signUpBox{
 background-color: var(--midToneGrey);
 color: var(--darkOrange);
 padding: 10px;
 padding-top: 12px;
 width: 200px;
 height: 20px;
 margin: 45px 45px 0px 0;
 display: flex;
 justify-content: space-between;
 cursor: pointer;
 
}
.navigation{
  width: 90%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  position: relative;
  z-index: 0;
  border-radius: 30px;
  border: 10px solid var(--midLightGrey);
  margin: auto;
  box-shadow: 0 10px 10px rgb(0, 0, 0);
  font-family: muli,sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
}
.navigation div{
  width: 100%;
  padding-left:20px;

}
.navigation:after {
  content: " ";
  position: absolute;
  z-index: -1;
  padding-top: 30px;
  top: -17px;
  left: -17px;
  right: -17px;
  bottom: -17px;
  border: 7px solid #000000;
  border-radius: 50px;
}
.logoAndLogin{
  display: flex;
  justify-content: space-between;
}
.display{
  position:absolute;
  
}
.element:hover{
  cursor: pointer;
  color: #ffffff;
  background-color: #000000;
  /*background-color: #08b92f;*/
  /*margin-right: -19px;*/
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: -20px;
  margin-top: -20px;
  box-shadow: 0px 5px 15px rgb(0, 0, 0);
  /*border-radius: 0px 35px 35px 0px;*/
 
}
.right:hover{
  color: #ffffff;
  background-color: #000000;
  /*background-color: #08b92f;*/
  margin-right: -20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: -20px;
  margin-top: -20px;
  /*box-shadow: 0px 5px 0px rgb(0, 0, 0);*/
  border-radius: 0px 35px 35px 0px;
  padding-right: 19px;
}
.left:hover{
  color: #ffffff;
  background-color: #000000;
  /*background-color: #08b92f;*/
  margin-left: -20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: -20px;
  margin-top: -20px;
  /*box-shadow: 0px 5px 0px rgb(0, 0, 0);*/
  border-radius: 35px 0px 0px 35px ;
  padding-left: 39px;
}
.orangeBox{
  height: 400px;
  width:100%;
  background-color: var(--darkOrange);
  border-bottom: 30px solid var(--lightGrey);
  display: flex;
  justify-content: center;
}
.illustration{
  height: 400px;
  width: auto;
}
.bottomBorder{
  background-image: url(./assets/bluePattern.png);
  height: 60px;
  border-bottom: var(--brightOrange) 200px solid;

  /*border-top: white 350px solid;*/
}
.line{
  border-left: 1px solid rgb(197, 197, 197);
  height: 50px;
  margin-bottom: -25px;
  margin-top: -17px;
}

.dogsRow{

  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  width: 90%;
  
}
.dogsRow img{
  height: 250px; 
  width: auto; 
  
}
.user{
  height: 30px;
  width: auto;
  margin-top: -5px;
}
.seacrhCircle{
  position: absolute;
  right: 1px;
  top: 1px;
  height: 25px;
  width: 25px;
  background-color: var(--darkOrange) ;
  border-radius: 20px;
  border: white 5px solid;
  margin-bottom: -30px;
  
}
.seacrhCircle:after {
  content: " ";
  position: absolute;
  z-index: 1;
  top: -13px;
  left: -13px;
  right: -13px;
  bottom: -13px;
  border: 10px solid var(--darkOrange);
  border-radius: 50px;
}
/******************modal popup************************/
/*.content{
  
  z-index: 99;
  background-color: var(--brightOrange);
  border-radius: 20px;
  outline: none;
  width: 270px;
  height: 325px;
  border-radius: 20px;
  margin: auto;
  box-shadow: 0 7px 10px rgb(0, 0, 0);

}*/
.bothDropDowns{
  
  display: flex;
  justify-content: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 10px;
}
.dropDown{
  z-index: 99;
  border-radius: 10px;
  background-color: var(--brightOrange);
  box-shadow: 0 5px 10px rgb(0, 0, 0);

}
.dropDownlocation{
  z-index: 99;
  height: 160px;
  width: 280px;
  background-color: var(--brightOrange);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgb(0, 0, 0);

}
.contentHome p{
  color: white;
  margin-left: 25px;
}
.contentHome ul{
  margin-top: 25px;
  border-radius: 10px;

}
.contentHome li{
  padding-left: 10px;
  padding-bottom: 5px;
}
.test{
  border: yellowgreen 2px solid;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

  .centeredView {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    margin-left: auto;
    background-color: rgba(255, 255, 255, 0.712);
  }
  .modalViewLeft h1{
    font-size: 30px;
    width: 65%;
    margin-bottom: 100px;
  }
  .modalViewRight h1{
    font-size: 30px;
    width: 70%;
    margin-bottom: 100px;
  }
    .modalViewLeft {
    margin-top: 235px;
    height:450px;
    width:35%;
    margin: 20;
    background-color: var(--brightOrange);
    border-radius: 20px 0px 0px 20px;
    padding: 35;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    
  }
    .modalViewRight {
    margin-top: 235px;
    height:450px;
    width:35%;
    margin: 20;
    background-color: var(--brightBlue);
    border-radius: 0px 20px 20px 0px;
    padding: 35;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    
  }
  .button{
    border-radius: 20;
    padding: 10;
    
  }
  .buttonOpen{
    background-color: #F194FF;
  }
  .buttonClose{
    background-color: #4CAF50;
    outline: none;
    border: none;
    margin-bottom: 50px;
    
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
  }
    .buttonClose:hover{
     transform: scale(1.1);
      transition: transform 150ms ease,
  }
  .textStyle{

    color: white;
    font-weight: bold;
    text-align: center;
  }
  .modalText {
    margin-bottom: 15;
    text-align: center;
  }
/*****************************************************/

/********************animation************************/

/*.shape:hover {
  position: relative;
  
  
  x-transition: all .75s ease-in-out;
  animation: ani .75s infinite;
}


@keyframes ani {
  0% {
    top: 0;
  }
  50% {
    top: 5px;
    
  }
  100% {
    top: 0;
  }
}*/





 /**********************react Calender ***************************/

.react-calendar {
  
  width: 90%;
  background: rgba(255, 255, 255, 0);
  /*border: 1px solid #a0a096;*/
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: 'Poppins', sans-serif;
  line-height: 1.125em;
  margin-bottom: 30px;
}
.react-calendar--doubleView {
  /*width: 700px;*/
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
 
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
  
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0 !important;

}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
  margin-bottom: 10px;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
  
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 1.5em 0.5em;
  background: none;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #ffff76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #20c5ee;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
.react-calendar abbr{
 color: black;
 text-decoration: none;
 font-size: 12px;
}
/*************************************************************/
/****************************footer*********************************/
.footer{
  
  height: 0px;
  text-align: center;
  position: relative;
  bottom: 50px;
  color: white;
}





/*************************************************************/
  @media only screen and (max-height: 575px) {
    .rightSwitchedLayout{
      z-index: 99;
    }
  .rightLayout{
  
   z-index: 99;
    }
  }
  @media only screen and (max-height: 650px) {
   
    .greenButton{
      margin-top: 35px;
    }
    .greenSwitchedButton{
      margin-top: 35px;
    }
    .leftLayout h1{
  width:65%;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px; 
  font-size: 37px
}

.leftSwitchedLayout h1{
  width:65%;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px; 
  font-size: 37px
}
  
  }
  @media only screen and (max-width: 800px) {
    .leftSideUserProfile{
      width: 100%;
    }
    .leftAndRight{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      
    }
    .rightSideUserCalender{
      width: 100%;
      margin-top: 25px;
    }
    .dogBlock{
      width: 100%;
      
    }
    .rightSideUser{
      width: 100%;
      margin-top: 25px;
    }
    .arrow-down-blue {
      
      right: 7%;
      
    }
    .arrow-down-orange{
    
      right: 7%;
      
    }
    .leftSideUser{
      width: 100%;
    }
}
  


  @media only screen and (max-width: 1000px) {
    
    .line{
      border-left: none;
    }
    .seacrhCircle{
      position: absolute;
      right: 1px;
      top: 2px;
      height: 20px;
      width: 20px;
      background-color: var(--darkOrange) ;
      border-radius: 20px;
      border: white 5px solid;
      margin-bottom: -30px;
      
    }
    .seacrhCircle:after {
      content: " ";
      position: absolute;
      z-index: 1;
      top: -13px;
      left: -13px;
      right: -13px;
      bottom: -13px;
      border: 10px solid var(--darkOrange);
      border-radius: 50px;
    }
  .element{
    font-size: 12px ;
    
  }
  .navigation div{
    /*border: salmon solid 2px;*/
    width: auto;
  }
  .right{
    margin-right: 50px;
  }
  .element:hover{
    cursor: pointer;
    color: #ffffff;
    background-color: #000000;
    /*background-color: #08b92f;*/
    /*margin-right: -19px;*/
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: -20px;
    margin-top: -20px;
    box-shadow: 0px 5px 15px rgb(0, 0, 0);
    /*border-radius: 0px 35px 35px 0px;*/
    padding-right: 40px;
    padding-left: 40px;
    width: auto;
    

  }
  .right:hover{
    color: #ffffff;
    background-color: #000000;
    /*background-color: #08b92f;*/
    margin-right: -20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: -20px;
    margin-top: -20px;
    /*box-shadow: 0px 5px 0px rgb(0, 0, 0);*/
    border-radius: 0px 35px 35px 0px;
    padding-right: 80px;
  }
  .left:hover{
    color: #ffffff;
    background-color: #000000;
    /*background-color: #08b92f;*/
    margin-left: -20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: -20px;
    margin-top: -20px;
    /*box-shadow: 0px 5px 0px rgb(0, 0, 0);*/
    border-radius: 35px 0px 0px 35px ;
    padding-left: 39px;
    padding-right: 37px;
    
  }
  .dogsRow{

    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    width: 90%;
    
  }
  .dogsRow img{
    height: 200px; 
    width: auto; 
    
  }
  .leftSideUserProfile{
    height: 60%;
  }
  .react-calendar {
  
    
    line-height: .1em;
    
  }
  .dogWalkersRight{
   height: 150px;
  }
}
 @media only screen and (max-width: 1100px) {
  .newLocationSearchInput{
    background-color: black;
    border: none;
    height: 15px;
    padding: 10px;
    padding-top: 12px;
    padding-left: 15px;

    color: white;
    font-size: 1.2em;
    margin-bottom: 25px;
    width: 150px;
  }
  .rightSideUser form{
    display: flex;
    align-items: center;
    margin-left: 30px; 
    
  }
 
 
  }
  @media only screen and (max-width: 1300px) {
  .rightSideUser h2{
    width: 70%;
  }
  .allUserElements{
    width: 90%;
  }
  }
  @media only screen and (max-width: 1400px) {
    .dogWalkersRight{
      width: 250px;
    }
    .dogWalkersLeft{
      width: 250px;
    }
    
  }
 @media only screen and (min-width: 1400px) {
 
 
  .alignForm{
   margin-left: 50px;
   color: white;
   font-size: 30px;
  
  }
 
  .mainDiv{
    display: flex; 
    width: 65%;
  }
  .alignForm input{
    margin-top: 8px;
    margin-bottom: 10px;
    border: none;
    height: 25px;
    border-radius: 3px;
  }
  .alignSwitchedForm input{
    margin-top: 11px;
    margin-bottom: 10px;
    border: none;
    height: 25px;
    border-radius: 3px;
    
  }
  
  .controlDiv{
    display: flex;
    flex-wrap: wrap;
  }

  .alignFormAltered form{
    display: flex;
    flex-direction: column; 
    width: 40%;
    font-size: 18px;
  }
  

  .greenSwitchedButton{
    height: 60px;
    width: 145px;
    text-align: center;
    background-color: #4CAF50; /* Green */
    /*background-color: var(--textAndButtonYellow);*/
    border-radius: 20px;
    color: white;
    font-size: 25px;
    border: none;
    margin-top: 100px; 
  }
}
@media only screen and (max-width: 1600px) {
 .modalViewLeft {
    height: 350px;
  }
  .modalViewRight{
    height: 350px;
  }
}
@media only screen and (min-width: 1600px) {

.dogsRow{

  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  width: 80%;
  
}
.dogsRow img{
  height: 300px; 
  width: auto; 
  
}
.orangeBox{
  height: 500px;
  width:100%;
  background-color: var(--darkOrange);
  border-bottom: 30px solid var(--lightGrey);
  display: flex;
  justify-content: center;
}
.illustration{
  height: 500px;
  width: auto;
}
  .modalViewLeft h1{
    font-size: 35px;
    width: 75%;
    margin-bottom: 150px;
  }
  .modalViewRight h1{
    font-size: 35px;
    width: 80%;
    margin-bottom: 150px;
  }
}
@media only screen and (max-width: 1700px) {
  .dogWalkersLeft{
    width:250px;
  }
  .dogWalkersRight{
    width:250px;
  }

 
}