:root {
  --brightOrange: #F7931E;
  --brightBlue: #27AAE1;
  --textAndButtonYellow: #F3BD1F;
  --darkOrange: #EE7023;
  --lightGrey: #F1F2F2;
  --midLightGrey: #E6E7E8;
  --midToneGrey: #D1D3D4;
}
body::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(207, 207, 206);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color:rgb(155, 155, 155);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  /*border: 3px solid orange;  /* creates padding around scroll thumb */
}

body {
  margin: 0;
 font-family: 'Poppins', sans-serif;
}
html,body { 
  height:100%; 
  display: flex;
  flex-direction: column;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*****************begin of login/signup css*****************/
.leftLayout{
  background-color: black;
  height: 100%;
  width: 50%;
  position: absolute;
    top: 0;
    bottom: 0;
  color: var(--textAndButtonYellow);
  font-size: 30px;
  text-align: left;
  display: flex;
  justify-content: center;
}
.leftSwitchedLayout{
  background-color: black;
  height: 100%;
  width: 50%;
  position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  color: var(--textAndButtonYellow);
  font-size: 30px;
  text-align: left;
  display: flex;
  justify-content: center;
}
.leftLayout h1{
  width:65%;
  margin-left: 50px;
}
.leftSwitchedLayout h1{
  width:65%;
  margin-left: 50px;
}
.blueOutline{
border:solid 3px var(--brightBlue); 
width: 85%;
margin-top: 40px;
margin-bottom: 40px; 
display: flex;
justify-content: center;
}
.rightLayout{
  background-color:var(--brightOrange);
  position: absolute;
   right: 0;
   top: 0;
   bottom: 0;
   height: 80%;
   width: 50%;
}
.rightSwitchedLayout{
  background-color:var(--brightOrange);
  position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   height: 100%;
   width: 50%;
}
.rightLayout h1{
  margin-bottom: 40px;
  margin-top: 35px;
  font-size: 25px;
  color: var(--textAndButtonYellow);
}
.rightSwitchedLayout h1{
  margin-bottom: 40px;
  margin-top: 35px;
  font-size: 25px;
  color: var(--textAndButtonYellow);
  min-width: 200px;
}
.alignForm{
 margin-left: 50px;
 color: white;


}
.alignFormAltered{
  margin-left: 50px;
  color: white;
 
 
 }


.alignForm input{
  margin-top: 8px;
  margin-bottom: 10px;
  border: none;
  height: 20px;
  border-radius: 3px;
}
.alignSwitchedForm input{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  border: none;
  height: 22px;
  border-radius: 3px;
}
.mainDiv{
  display: flex; 
  width: 100%;
  margin-top: 40px;
}

.controlDiv{
  display: flex;
  flex-wrap: wrap;
  
}
input[type=text]:focus {
   outline: none;
}
.alignForm form{
  display: flex;
  flex-direction: column; 
  width: 40%;
  font-size: 15px;
}
.alignFormAltered form{
  display: flex;
  flex-direction: column; 
  width: 40%;
  font-size: 15px;
}
.greenButton{
  height: 50px;
  width: 135px;
  text-align: center;
  background-color: #4CAF50; /* Green */
  /*background-color: var(--textAndButtonYellow);*/
  border-radius: 20px;
  color: white;
  font-size: 23px;
  border: none;
  margin-top: 30px; 
  z-index: 1;
}
.greenSwitchedButton{
  height: 50px;
  width: 135px;
  text-align: center;
  background-color: #4CAF50; /* Green */
  /*background-color: var(--textAndButtonYellow);*/
  border-radius: 20px;
  color: white;
  font-size: 23px;
  border: none;
  margin-top: 100px; 
  z-index: 1;
}
.buttonDiv{
  display: flex;
  justify-content: space-around;
}
.dogsNum{
  width: 12%;
}
.bottomBlue{
background-color: var(--brightBlue);
position: absolute;
right: 0;
bottom: 0;
width: 50%;
height: 20%;
}
.bottomSwitchedBlue{
  background-color: var(--brightBlue);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 30%;
  
  }
/*********************end of login/signup css*******************************/
/****************************************************/

/****************************************************/
/*********************User Profile*******************/
.allUserElements{
  width: 80%;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  /*border: yellowgreen solid 2px;*/
}
.leftAndRight{
  display: flex;
  justify-content: space-between;
}
.leftSideUser{
  background-color: var(--lightGrey);
  width: 55%;
}
.contact h4{
 margin-top: -5px;
}
.contactDogWalker{
 margin-bottom: 20px;
}
.about{
  width: 90%;
}
.rightSideUser{
  background-color: var(--lightGrey);
  width: 42%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  /*border: yellowgreen 2px solid;*/
}
.rightSideUser form{
  display: flex;
  align-items: center;
  margin-left: 30px; 
}

.blackBar{
  color: white;
  background-color: black;
  height:50px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  font-size: 25px;
}

.list{
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
}
.text{
    margin-left: 25px;
    width: 100%;
    height: max-content;
  }
 .dogWalkersLeft{
  
   height:100px; 
   width:85%;
   overflow:hidden; 
   overflow-y:scroll;
   background-color: white;
   list-style: none;
   padding: 10px;
  }
  .dogWalkersRight{
  
    height:100px; 
    width:85%;
    overflow:hidden; 
    overflow-y:scroll;
    background-color: white;
    list-style: none;
    padding: 10px;
   }
   .dogWalkersLeft li{
     margin-bottom: 5px;
   }
   .dogWalkersRight li{
    margin-bottom: 5px;
  }
  
  .bottomOrange{
    border-bottom: var(--brightOrange) 200px solid;
    width: 100%;
    
    background-image: url(./assets/bluePattern.png);
    height: 60px;    
  }
  
  .userNav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .userNav h1{
    margin-left: 30px;
  }
  .logoutAndHome{
    display: flex;
    justify-content: space-between;
  }
  .logout{
    margin-right: 5px;
  }
  .newLocationSearchInput{
    background-color: var(--brightOrange);
    border: none;
    height: 15px;
    border-radius: 25px;
    padding: 10px;
    padding-top: 12px;
    padding-left: 15px;
    border-radius: 20px;
    color: white;
    font-size: 1.2em;
    margin-bottom: 25px;
    
  }
  .newLocationSearchInput::placeholder {
    color: white;
    font-size: 1em;
  }
  .newLocationSearchButton{
    height: 35px;
    width: 35px;
    text-align: center;
    background-color: var(--brightOrange);
    border-radius: 25px;
    border: none;
    margin-left: 13px;
    margin-bottom: 30px;
  }
  .current{
    margin-bottom: -5px;
    margin-top: 30px;
  }
  .yourDogs{
    margin-top: 50px;
    margin-bottom: 25px;
  }
  .alignRightSide{
    display: flex;
    flex-direction: column;
    
  }
  .scroll::-webkit-scrollbar {
    width: 6px;               /* width of the entire scrollbar */
  }
  
  .scroll::-webkit-scrollbar-track {
    /*background: orange;        /* color of the tracking area */
  }
  
  .scroll::-webkit-scrollbar-thumb {
    background-color:var(--midToneGrey);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    /*border: 3px solid orange;  /* creates padding around scroll thumb */
  }
 /***********************end of User***************************/
 /*************************home page****************************/
 .bluePat{
   background-image: url(./assets/bluePattern.png);
   height: 210px;
   width: auto;
  
 }
.logo{
   height: 70px;
   width: auto;
   margin: 40px;
   margin-top: 15px;
}

.signUpBox{
 background-color: var(--midToneGrey);
 color: var(--darkOrange);
 padding: 10px;
 padding-top: 12px;
 width: 200px;
 height: 20px;
 margin: 45px 45px 0px 0;
 display: flex;
 justify-content: space-between;
 
 
}
.navigation{
  width: 90%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  position: relative;
  z-index: 0;
  border-radius: 30px;
  border: 10px solid var(--midLightGrey);
  margin: auto;
  box-shadow: 0 10px 10px rgb(0, 0, 0);
  
}
.navigation div{
  width: 100%;
  padding-left:20px;

}
.navigation:after {
  content: " ";
  position: absolute;
  z-index: -1;
  padding-top: 30px;
  top: -17px;
  left: -17px;
  right: -17px;
  bottom: -17px;
  border: 7px solid #000000;
  border-radius: 50px;
}
.logoAndLogin{
  display: flex;
  justify-content: space-between;
}
.display{
  position:absolute;
  
}
.element:hover{
  color: #ffffff;
  background-color: #000000;
  /*background-color: #08b92f;*/
  /*margin-right: -19px;*/
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: -20px;
  margin-top: -20px;
  box-shadow: 0px 5px 15px rgb(0, 0, 0);
  /*border-radius: 0px 35px 35px 0px;*/
 
}
.right:hover{
  color: #ffffff;
  background-color: #000000;
  /*background-color: #08b92f;*/
  margin-right: -20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: -20px;
  margin-top: -20px;
  /*box-shadow: 0px 5px 0px rgb(0, 0, 0);*/
  border-radius: 0px 35px 35px 0px;
  padding-right: 19px;
}
.left:hover{
  color: #ffffff;
  background-color: #000000;
  /*background-color: #08b92f;*/
  margin-left: -20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: -20px;
  margin-top: -20px;
  /*box-shadow: 0px 5px 0px rgb(0, 0, 0);*/
  border-radius: 35px 0px 0px 35px ;
  padding-left: 39px;
}
.orangeBox{
  height: 400px;
  width:100%;
  background-color: var(--darkOrange);
  border-bottom: 30px solid var(--lightGrey);
  display: flex;
  justify-content: center;
}
.illustration{
  height: 400px;
  width: auto;
}
.bottomBorder{
  background-image: url(./assets/bluePattern.png);
  height: 60px;
  /*border-top: white 350px solid;*/
}
.line{
  border-left: 1px solid rgb(197, 197, 197);
  height: 50px;
  margin-bottom: -25px;
  margin-top: -15px;
}

.dogsRow{

  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  width: 90%;
  
}
.dogsRow img{
  height: 250px; 
  width: auto; 
  
}
.user{
  height: 30px;
  width: auto;
  margin-top: -5px;
}
.seacrhCircle{
  position: absolute;
  right: 1px;
  top: 1px;
  height: 25px;
  width: 25px;
  background-color: var(--darkOrange) ;
  border-radius: 20px;
  border: white 5px solid;
  margin-bottom: -30px;
  
}
.seacrhCircle:after {
  content: " ";
  position: absolute;
  z-index: 1;
  top: -13px;
  left: -13px;
  right: -13px;
  bottom: -13px;
  border: 10px solid var(--darkOrange);
  border-radius: 50px;
}
/******************modal popup************************/
/*.content{
  
  z-index: 99;
  background-color: var(--brightOrange);
  border-radius: 20px;
  outline: none;
  width: 270px;
  height: 325px;
  border-radius: 20px;
  margin: auto;
  box-shadow: 0 7px 10px rgb(0, 0, 0);

}*/
.contentHome p{
  color: white;
  margin-left: 25px;
}
.contentHome ul{
  margin-top: 25px;
  border-radius: 10px;

}
.contentHome li{
  padding-left: 10px;
  padding-bottom: 5px;
}
.test{
  border: yellowgreen 2px solid;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
/*****************************************************/

/********************animation************************/

/*.shape:hover {
  position: relative;
  
  
  x-transition: all .75s ease-in-out;
  animation: ani .75s infinite;
}


@keyframes ani {
  0% {
    top: 0;
  }
  50% {
    top: 5px;
    
  }
  100% {
    top: 0;
  }
}*/





 /**********************react Calender ***************************/

.react-calendar {
  
  width: 90%;
  background: rgba(255, 255, 255, 0);
  /*border: 1px solid #a0a096;*/
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: 'Poppins', sans-serif;
  line-height: 1.125em;
  margin-bottom: 30px;
}
.react-calendar--doubleView {
  /*width: 700px;*/
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
 
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
  
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0 !important;

}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
  margin-bottom: 10px;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
  
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 1.5em 0.5em;
  background: none;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #ffff76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #006edc;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
.react-calendar abbr{
 color: black;
 text-decoration: none;
 font-size: 12px;
}
/*************************************************************/
/*************************************************************/














 @media only screen and (min-width: 800px) {
  .leftSwitchedLayout h1{
    width:50%;
    margin-left: 50px;
    font-size: 50px;
  }
  .leftLayout h1{
    width:50%;
    margin-left: 50px;
    font-size: 50px;
  }
  }

  @media only screen and (max-height: 650px) {
    .leftSwitchedLayout h1{
      width:50%;
      margin-left: 50px;
      font-size: 40px;
    }
    .leftLayout h1{
      width:50%;
      margin-left: 50px;
      font-size: 40px;
    }
    .greenButton{
      margin-top: 35px;
    }
    .greenSwitchedButton{
      margin-top: 35px;
    }
  }
  @media only screen and (max-width: 1000px) {
    .line{
      border-left: 1px solid rgb(197, 197, 197);
      height: 45px;
      margin-bottom: -25px;
      margin-top: -15px;
    }
    .seacrhCircle{
      position: absolute;
      right: 1px;
      top: 1px;
      height: 20px;
      width: 20px;
      background-color: var(--darkOrange) ;
      border-radius: 20px;
      border: white 5px solid;
      margin-bottom: -30px;
      
    }
    .seacrhCircle:after {
      content: " ";
      position: absolute;
      z-index: 1;
      top: -13px;
      left: -13px;
      right: -13px;
      bottom: -13px;
      border: 10px solid var(--darkOrange);
      border-radius: 50px;
    }
  .element{
    font-size: 12px ;
  }
  .dogsRow{

    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    width: 90%;
    
  }
  .dogsRow img{
    height: 200px; 
    width: auto; 
    
  }
  }
 @media only screen and (min-width: 1100px) {
  .leftSwitchedLayout h1{
    width:50%;
    margin-left: 50px;
    font-size: 55px;
  }
  .leftLayout h1{
    width:50%;
    margin-left: 50px;
    font-size: 55px;
  }
 
  }
 @media only screen and (min-width: 1400px) {
  
  .leftLayout h1{
    width:50%;
    margin-left: 50px;
    font-size: 60px;
  }
  .leftSwitchedLayout h1{
    width:50%;
    margin-left: 50px;
    font-size: 60px;
  }
 
  .alignForm{
   margin-left: 50px;
   color: white;
   font-size: 30px;
  
  }
 
  .mainDiv{
    display: flex; 
    width: 65%;
  }
  .alignForm input{
    margin-top: 8px;
    margin-bottom: 10px;
    border: none;
    height: 25px;
    border-radius: 3px;
  }
  .alignSwitchedForm input{
    margin-top: 11px;
    margin-bottom: 10px;
    border: none;
    height: 25px;
    border-radius: 3px;
    
  }
  
  .controlDiv{
    display: flex;
    flex-wrap: wrap;
  }

  .alignFormAltered form{
    display: flex;
    flex-direction: column; 
    width: 40%;
    font-size: 18px;
  }
  

  .greenSwitchedButton{
    height: 60px;
    width: 145px;
    text-align: center;
    background-color: #4CAF50; /* Green */
    /*background-color: var(--textAndButtonYellow);*/
    border-radius: 20px;
    color: white;
    font-size: 25px;
    border: none;
    margin-top: 100px; 
  }
}
@media only screen and (min-width: 1600px) {

.dogsRow{

  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  width: 80%;
  
}
.dogsRow img{
  height: 300px; 
  width: auto; 
  
}
.orangeBox{
  height: 500px;
  width:100%;
  background-color: var(--darkOrange);
  border-bottom: 30px solid var(--lightGrey);
  display: flex;
  justify-content: center;
}
.illustration{
  height: 500px;
  width: auto;
}
}