:root {
  --brightOrange: #F7931E;
  --brightBlue: #27AAE1;
  --textAndButtonYellow: #F3BD1F;
  --darkOrange: #EE7023;
  --lightGrey: #F1F2F2;
  --midLightGrey: #E6E7E8;
  --midToneGrey: #D1D3D4;
}
body::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(207, 207, 206);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color:rgb(155, 155, 155);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  /*border: 3px solid orange;  /* creates padding around scroll thumb */
}

body {
  margin: 0;
 font-family: 'Poppins', sans-serif;
}
html,body { 
  
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: auto;
  
}
.html { height: 100%; 
    min-height: 100%;
    overflow-y: scroll;
    
  }
.body { min-height: 100% }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: #000;
}

/*****************begin of login/signup css*****************/


.totalLayout{
    display: flex;
  justify-content: space-between;
  flex-grow: 1;
  height: 100vh;
  
}
.leftSwitchedLayout{
  background-color: black;
  height: 100vh;
  width: 50%;
  color: var(--textAndButtonYellow);
  text-align: left;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.leftLayout{
  background-color: black;
  height: 100vh;
  width: 50%;
  color: var(--textAndButtonYellow);
  text-align: left;
  display: flex;
  justify-content: center;
  
}
.leftLayout h1{
  width:65%;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px; 
  font-size: clamp(40px, 5vw, 65px)
}

.leftSwitchedLayout h1{
  width:65%;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px; 
  font-size: clamp(40px, 5vw, 65px)
}

.blueOutline{
border:solid 3px var(--brightBlue); 
width: 85%;
margin-top: 40px;
margin-bottom: 40px; 
display: flex;
justify-content: center;
overflow: hidden;
}
.rightLayout{
  
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  background-color:var(--brightOrange);
  height: 100vh;
  width: 50%;
  overflow:auto;  
}

.rightSwitchedLayout{
  
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  background-color:var(--brightOrange);
   height: 100vh;
   width: 50%;
 overflow:auto;

}
.home{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 50px;
  margin-right: 10px;
}
.home img{
  width: auto;
  height: 40px;
  margin-top: 20px;
  cursor: pointer;
}
.bottomSwitchedBlue{
  background-color: var(--brightBlue);
  width: 100%;
  height: 150px;
  margin-right: -10px;
  }
  .bottomBlue{
background-color: var(--brightBlue);
  width: 100%;
  height: 120px;
}
.rightLayout h1{
  margin-bottom: 40px;
  margin-top: 35px;
  font-size: 25px;
  color: var(--textAndButtonYellow);
}
.rightSwitchedLayout h1{
  margin-bottom: 40px;
  margin-top: 35px;
  font-size: 25px;
  color: var(--textAndButtonYellow);
  min-width: 200px;
}
.alignForm{
 margin-left: 50px;
 color: white;


}
.alignForm h1{
  cursor: pointer;
}
.alignFormAltered{
  margin-left: 50px;
  color: white;
 }
 
.alignForm input{
  margin-top: 6px;
  margin-bottom: 7px;
  border: none;
  height: 20px;
  border-radius: 3px;
}
.alignForm select{
  margin-top: 8px;
  margin-bottom: 10px;
  border: none;
  height: 23px;
  border-radius: 3px;
  background-color: white;
}
.alignSwitchedForm input{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  border: none;
  height: 22px;
  border-radius: 3px;
}
.alignSwitchedForm h1{
  cursor: pointer;
}
.mainDiv{
  display: flex; 
  width: 100%;
  margin-top: 40px;
}

.controlDiv{
  display: flex;
  flex-wrap: wrap;
  
}
input[type=text]:focus {
   outline: none;
}
.alignForm form{
  display: flex;
  flex-direction: column; 
  width: 50%;
  font-size: 15px;
  z-index: 100;
}
.alignFormAltered form{
  display: flex;
  flex-direction: column; 
  width: 40%;
  font-size: 15px;
  z-index: 100;
}
.greenButton{
  height: 50px;
  width: 135px;
  text-align: center;
  background-color: #4CAF50; /* Green */
  /*background-color: var(--textAndButtonYellow);*/
  border-radius: 20px;
  color: white;
  font-size: 23px;
  border: none; 
  z-index: 99;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
}
.greenSwitchedButton{
  height: 50px;
  width: 135px;
  text-align: center;
  background-color: #4CAF50; /* Green */
  /*background-color: var(--textAndButtonYellow);*/
  border-radius: 20px;
  color: white;
  font-size: 23px;
  border: none;
  margin-top: 100px; 
  z-index: 99;
  cursor: pointer;
  margin-left: 145px;
}
.buttonDiv{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 30px;
  margin-bottom: 20px;
}
.dogsNum{
  width: 12%;
}


  
/*********************end of login/signup css*******************************/
/****************************************************/

/****************************************************/
/*********************User Profile*******************/
.allUserElements{
  width: 70%;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
 
  /*border: yellowgreen solid 2px;*/
}
.leftAndRight{
  display: flex;
  justify-content: space-between;
  
}
.leftSideUser{
  background-color: var(--lightGrey);
  width: 55%;
  border-radius: 10px;
  

}
.leftSideUserProfile{
  background-color: #20c5ee;
  width: 49%;
  z-index: 99;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.rightSideUser form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  
}
.dropDownlocation form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  
}
.contact{
  margin-top: 20px;
 
}
.contact h2{
 margin: 0px;
}
.contact h4{  
  margin-top: 10px;
  margin-bottom: 7px;
}
.contactDogWalker{
 margin-bottom: 30px;
}
.about{
  width: 90%;
  border-color: white 3px solid;
  
}
.about p{
  
    height: auto;
    padding: 10px;
    color: black;
  
}
.aboutHolder {
    max-height: 150px;
    overflow:hidden; 
    overflow-y:scroll;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    border: 10px white solid;
}

.rightSideUser{
  border-radius: 10px;
  background-color: var(--brightOrange);
  color: white;
  width: 49%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  /*border: yellowgreen 2px solid;*/
}
.rightSideUserForDogWalking{
  border-radius: 10px;
  background-color: #20c5ee;
  color: white;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  /*border: yellowgreen 2px solid;*/
}
.userCalender{
  background-color: var(--lightGrey);
  width: 49%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  border-radius: 10px;
  

  /*border: yellowgreen 2px solid;*/
}
.highlight {
  background-color: var(--brightOrange) !important;
  
  
}
.hoverOverCal {
 color: white;
 background-color: orange;
}
.hoverOverCal h3{
 color: white;

}
.userCalender .cal{
    background-color: var(--lightGrey);
    width: 90%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
}
.cal{
   display: flex;
   flex-wrap: wrap;
    justify-content: center;
    
}


.blackBar{
  color: white;
  background-color: black;
  height:50px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  font-size: 25px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.list{
   
   margin-bottom: 20px;
   margin-left: 25px;
}
.text{
    margin-left: 25px;
    width: 100%;
    
  }

  
  .textLocation{
    margin-left: 25px;
    width: 100%;
    color: white;
  }
  .dogWalkers{
  
    height:100px; 
    width:150px;
    overflow:hidden; 
    overflow-y:scroll;
    background-color: rgb(236, 236, 236);
    list-style: none;
    padding: 10px;
    border-radius: 10px;
    border: 10px white solid;
    margin-right: 20px;
   }
 .dogWalkersLeft{
  
   height:100px; 
   width:500px;
   overflow:hidden; 
   overflow-y:scroll;
   background-color: rgb(236, 236, 236);
   list-style: none;
   padding: 10px;
   border-radius: 10px;
   border: 10px white solid;
  }
  .dogWalkersRight{
  
    height:200px; 
    width:500px;
    overflow:hidden; 
    overflow-y:scroll;
    background-color: rgb(236, 236, 236);
    list-style: none;
    padding: 10px;
    border-radius: 10px;
    border: 10px rgb(255, 255, 255) solid;
    margin-bottom: 20px;
  }
  .hoverReveal{
    color: black;
  }
   .dogWalkersLeft li{
     margin-bottom: 10px;
     color: rgb(0, 0, 0);
   }
   .dogWalkersRight li{
    margin-bottom: 10px;
    color: rgb(0, 0, 0);

  }
  
  .bottomOrange{
    border-bottom: var(--brightOrange) 200px solid;
    width: 100%;
    
    background-image: url(./assets/bluePattern.png);
    height: 60px;    
  }
  
  .userNav{
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    background-color: rgb(235, 232, 232);
    
  }
  .userNav h1{
    border-top: 6px solid;
    border-image: url('assets/smallPat.png') 120  round;
    margin-left: 30px;
    margin-top: 0px;
    background-color: var(--brightOrange);
    color:white;
    padding:13px 10px 30px 10px;
    border-radius: 0px 0px 10px 10px;
    /*border-top: paleturquoise 10px solid;*/
    height: 35px;
    

  }
  .logoutAndHome{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-right: 30px;
  }

  .logout{
    margin-right: 5px;
    white-space: nowrap;
  }
  .newLocationSearchInput{
    background-color: black;
    border: none;
    height: 15px;
    border-radius: 25px;
    padding: 10px;
    padding-top: 12px;
    padding-left: 15px;
    border-radius: 10px;
    color: white;
    font-size: 1.2em;
    margin-bottom: 10px;
    
  }
  
  .newLocationSearchInput::placeholder {
    color: white;
    font-size: 1em;
  }
  .newLocationSearchInputHome{
    background-color: rgb(255, 255, 255);
    border: none;
    height: 10px;
    border-radius: 25px;
    padding: 10px;
    padding-top: 12px;
    padding-left: 15px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    margin-bottom: 25px;
    width: 120px;
    margin: 20px;
  }
  .rightSideUser select{
  background-color: black;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 90%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  color:white;
  border-radius: 10px;
  padding: 8px;
  height: 37px;
  font-weight: 500;
  
  }
  .newLocationSearchInputHome::placeholder {
    color: white;
    font-size: 1em;
  }
  .newLocationSearchButton{
    height: 35px;
    width: 35px;
    text-align: center;
    background-color: black;
    border-radius: 25px;
    border: none;
    margin-left: 13px;
    margin-bottom: 30px;
    cursor: pointer;
    margin-top: 0px;

  }
  .newLocationSearchButtonHome{
    height: 30px;
    width: 30px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    border: none;
    margin-left: 5px;
    margin-bottom: 30px;
    cursor: pointer;
    margin-top: 20px;

  }
  .dropDownlocation form{
    display: flex;
    justify-content: flex-start;
    
  }
   .dropDownlocation select{
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 90%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  color:rgb(0, 0, 0);
  border-radius: 10px;
  padding: 8px;
  height: 37px;
  font-weight: 500;
  
  }
   .dropDownlocation .newLocationSearchInput{
    background-color: rgb(255, 255, 255);
    border: none;
    height: 15px;
    border-radius: 25px;
    padding: 10px;
    padding-top: 12px;
    padding-left: 15px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    margin-bottom: 10px;
    
  }
  
  .dropDownlocation .newLocationSearchInput::placeholder {
    color: rgb(0, 0, 0);
    font-size: 1em;
  }
  .dropDownlocation .newLocationSearchButton{
    height: 35px;
    width: 35px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    border: none;
    margin-left: 13px;
    margin-bottom: 30px;
    cursor: pointer;
    margin-top: 0px;

  }
  .closeModal{
    height: 30px;
    width: auto;
    position: absolute;
    top: 15px;
    right: 15px;
  
  }
  .closeModal:hover{
      transform: rotate(180deg);
      transition: transform 150ms ease,
  }
  .close{
    height: 30px;
    width: auto;
    position: relative;
    top: 10px;
    margin-left: 260px;
    cursor: pointer;

  }
  .close:hover{
      transform: rotate(180deg);
      transition: transform 150ms ease,
  }
  .closeRight{
    height: 30px;
    width: auto;
    position: relative;
    top: 10px;
    margin-left: 210px;
    cursor: pointer;
  }
  .closeRight:hover{
      transform: rotate(180deg);
      transition: transform 150ms ease,
  }
  .arrow-down-blue {
    cursor: pointer;
    position: absolute;
    right: 52%;
    z-index: 0;
    margin-top: 15px;
  }

  .arrow-down-orange{
    cursor: pointer;
    position: absolute;
    right: 52%;
    z-index: 0;
    margin-top: 15px;
  }
  .schedule{
    cursor: pointer;
    position: absolute;
    right: 7%;
    z-index: 0;
    margin-top: 15px;
  }
  
  .current{
    margin-bottom: 0px;
    margin-top: 30px;
  }
  .secondRow{
    display: flex;
    justify-content: space-between;
    
  }.buttomSearch{
    margin-left: 30px;
  }
  .yourDogsAppoint{
    display: flex;
    align-items: center;
    flex-direction: column;
   
  }
  .doggosAppoint{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
  }
  .doggosAppoint h4{
    margin-top: -10px;
  }
  .yourDogs{
    margin-top: 20px;
    margin-bottom: 50px;
    width: 100%;
    height:auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 10px;
  }
  .eachDogNew{
     background-color: var(--brightOrange);
    width: 100%;
    height: 360px;
    display: flex;
    justify-content: space-between;  
    border-radius: 10px;
  }
  .eachDogNew label{
    color: white;
    display: block;
  }
  .eachDogNew form{
     
    display: flex;
    justify-content: space-between ;
    width: 100%;
  }
  .insideForm{
    padding: 15px;
    width: 100%;
  }
  .eachDogNew textarea{
    width: 500px;
    height: 70px;
    background-color: rgb(255, 255, 255);
    outline: none;
    border-radius: 10px;
    border: var(--lightGrey) 10px solid;
    margin-top: 10px;
    resize: none;
    position: absolute;
    overflow:hidden; 
    overflow-y:scroll;
    font-family: 'Poppins', sans-serif;
    padding: 3px;
  }
  .instructions {
    width:500px;
    height: 70px;
    background-color: var(--lightGrey);
    outline: none;
    border-radius: 10px;
    border: white 10px solid;
    padding: 3px;
    resize: none;
    overflow:hidden; 
    overflow-y:scroll;
   
    
  }

  .eachDogNew input{
   background: none;
   color: white;
   border: none;
   outline: none;
   margin-bottom: 15px;
   width: 40%;
  }
  .submitNewDog{
    border-radius: 20px;
    background-color: var(--brightBlue);
    outline: none;
    border: none;
    padding: 7px;
    color: white;
    height: 30px;
    width: 80px;
    margin-top: 10px;
    cursor: pointer;

  }
   .removeDog{
    border-radius: 20px;
    background-color: red;
    outline: none;
    border: none;
    padding: 7px;
    color: white;
    height: 30px;
    width: 100px;
    margin-top: 8px;
    cursor: pointer;

  }
  .alignButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
  }
  .add{
     height: 30px;
     width: auto;
     margin-top: 15px;
     margin-bottom: auto;
     margin-right: 15px;
     cursor: pointer;

  }
  .delete{
     height: 30px;
     width: auto;
     margin-top: 15px;
     margin-bottom: auto;
     margin-right: 25px;
     cursor: pointer;

  }
  .sub{
    cursor: pointer;
     height: auto;
     width: 30px;
     margin-top: 0;
     margin-bottom: 10px;
     margin-right: 15px;
  }
  .completeTitle{
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    border-radius: 10px;
    margin-top: 25px;
    padding-left: 10px;
  }
  .dogTitle{
    
    color: white;
    
  }
  .dogBlock{
    width: 49%;
    margin-bottom: 25px;
    
  }
  .eachDog{
    background-color: var(--lightGrey);
    width: 100%;
    height: 350px;
    padding-top: 10px;
    border-radius: 10px;
    /*border: rgb(0, 0, 0) 5px solid;*/
  }
  .adjust{
    margin-top: -10px !important;
  }
  .topDog{
    display: flex;
    justify-content: space-between;
  }
  .dogPic{
    height: 100px;
    width: 100px;
    background-color: var(--brightBlue);
    margin: 20px;
    border-radius: 20px;
    object-fit:cover;
    text-align: center;
  }
  .dogPic img{
    height: 100px;
    width: 100px;
    border-radius: 20px;
    object-fit:cover;
    

  }
  .successPhoto{
    padding: 20px;
    margin-bottom: -20px;
  }
  .successPhoto .cameraDiv{
    margin-top: -80px;
  }
  .dogPicSuccess{
    background-color: var(--brightBlue);
    height: 100px;
    width: 100px;
    border-radius: 20px;
    text-align: center;
  }
  .dogPic input{
   
    width: 100px;
    height: 100px;
    display: flex;
   
    border-radius: 20px;
  }
  .cameraDiv{
    text-align: center;
    margin-top: -100px;
    color: white;
    
  }
  .camera{
    
    width: 50px;
    height:auto;
    margin-bottom: -10px;
  }
  
 .file {
  opacity: 0;
  cursor: pointer;
  

}

  .dogInfo p{
    margin-top: 0px;
    margin-bottom: 15px;
    
    font-weight: 500;
  }
  
 .fixer{
   margin-bottom: 10px;
 }
  .dogInfo{
    margin-top: 0px;
    /*border-left: .05rem solid black;*/
    padding: 15px;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .alignRightSide{
    display: flex;
    flex-direction: column;
    
  }
  .scroll::-webkit-scrollbar {
    width: 6px;               /* width of the entire scrollbar */
  }
  
  .scroll::-webkit-scrollbar-track {
    /*background: orange;        /* color of the tracking area */
  }
  
  .scroll::-webkit-scrollbar-thumb {
    background-color:var(--midToneGrey);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    /*border: 3px solid orange;  /* creates padding around scroll thumb */
  }
 /***********************end of User***************************/
 /*************************home page****************************/
 .bluePat{
   background-image: url(./assets/bluePattern.png);
   height: 210px;
   width: auto;
  
 }
.logo{
   height: 70px;
   width: auto;
   margin: 40px;
   margin-top: 15px;
}

.signUpBox{
 background-color: var(--midToneGrey);
 color: var(--darkOrange);
 padding: 10px;
 padding-top: 12px;
 width: 200px;
 height: 20px;
 margin: 45px 45px 0px 0;
 display: flex;
 justify-content: space-between;
 cursor: pointer;
 
}
.orangeCircle{
  background-color: var(--brightOrange);
  height: 30px;
  width: 30px;
  border-radius: 40px;
  margin-top: -6px;

}
.elementHidden{
  display: none;
}
.navigation{
  width: 90%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  position: relative;
  z-index: 0;
  border-radius: 30px;
  border: 10px solid var(--midLightGrey);
  margin: auto;
  box-shadow: 0 10px 10px rgb(0, 0, 0);
  font-family: muli,sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
}
.navigation div{
  width: 100%;
  padding-left:20px;

}
.hoverLink:hover div{

color: white;
}
.hoverLink:hover span{

color: white;
}

.navigation:after {
  content: " ";
  position: absolute;
  z-index: -1;
  padding-top: 30px;
  top: -16px;
  left: -17px;
  right: -17px;
  bottom: -16px;
  border: 7px solid #000000;
  border-radius: 50px;
}

.logoAndLogin{
  display: flex;
  justify-content: space-between;
}
.display{
  position:absolute;
  
}
.element:hover{
  cursor: pointer;
  color: #ffffff;
  background-color: #000000;
  /*background-color: #08b92f;*/
  /*margin-right: -19px;*/
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: -20px;
  margin-top: -20px;
  box-shadow: 0px 5px 15px rgb(0, 0, 0);
  /*border-radius: 0px 35px 35px 0px;*/
 
}
.right:hover{
  color: #ffffff;
  background-color: #000000;
  /*background-color: #08b92f;*/
  margin-right: -20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: -20px;
  margin-top: -20px;
  /*box-shadow: 0px 5px 0px rgb(0, 0, 0);*/
  border-radius: 0px 35px 35px 0px;
  padding-right: 19px;
}
.left:hover{
  color: #ffffff;
  background-color: #000000;
  /*background-color: #08b92f;*/
  margin-left: -20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: -20px;
  margin-top: -20px;
  /*box-shadow: 0px 5px 0px rgb(0, 0, 0);*/
  border-radius: 35px 0px 0px 35px ;
  padding-left: 39px;
}
.orangeBox{
  height: 400px;
  width:100%;
  background-color: var(--darkOrange);
  border-bottom: 30px solid var(--lightGrey);
  display: flex;
  justify-content: center;
}
.illustration{
  height: 500px;
  width: auto;
    max-height: 500px;
    
  
height:auto;
}

.bottomBorder{
  background-image: url(./assets/bluePattern.png);
  height: 65px;
  border-bottom: var(--brightOrange) 200px solid;

  /*border-top: white 350px solid;*/
}
.line{
  border-left: 1px solid rgb(197, 197, 197);
  height: 50px;
  margin-bottom: -25px;
  margin-top: -17px;
}

.dogsRow{

  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  width: 90%;
  
}
.dogsRow img{
  margin: 3px;
  max-width: 300px;
  width:33%;
height:auto;
  
}
.user{
  height: 30px;
  width: auto;
  margin-top: -5px;
}
.seacrhCircle{
  position: absolute;
  right: 1px;
  top: 1px;
  height: 25px;
  width: 25px;
  background-color: var(--darkOrange) ;
  border-radius: 20px;
  border: white 5px solid;
  margin-bottom: -30px;
  
}
.seacrhCircle:after {
  content: " ";
  position: absolute;
  z-index: 1;
  top: -13px;
  left: -13px;
  right: -13px;
  bottom: -13px;
  border: 10px solid var(--darkOrange);
  border-radius: 50px;
}
/******************modal popup************************/
/*.content{
  
  z-index: 99;
  background-color: var(--brightOrange);
  border-radius: 20px;
  outline: none;
  width: 270px;
  height: 325px;
  border-radius: 20px;
  margin: auto;
  box-shadow: 0 7px 10px rgb(0, 0, 0);

}*/
.bothDropDowns{
  
  display: flex;
  justify-content: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 15px;
}
.dropDown{
  z-index: 99;
  border-radius: 10px;
  background-color: var(--brightOrange);
  box-shadow: 0 5px 10px rgb(0, 0, 0);

}

.homeSearch{
  border-radius: 10px;
  background-color: var(--brightOrange);
  color: white;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  /*border: yellowgreen 2px solid;*/
   z-index: 99;
  border-radius: 10px;
  background-color: var(--brightOrange);
  box-shadow: 0 5px 10px rgb(0, 0, 0);
}
.dropDownlocation{
  z-index: 99;
  height: 200px;
  width: 300px;
  background-color: var(--brightOrange);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgb(0, 0, 0);

}
.dropDownlocation form{
  margin-left: 15px;
}

.contentHome p{
  color: white;
  margin-left: 25px;
}
.contentHome ul{
  margin-top: 25px;
  border-radius: 10px;

}
.contentHome li{
  padding-left: 10px;
  padding-bottom: 5px;
}
.test{
  border: yellowgreen 2px solid;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

  .centeredView {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    margin-left: auto;
    background-color: rgba(255, 255, 255, 0.712);
  }
  .modalViewLeft h1{
    font-size: 30px;
    width: 65%;
    margin-bottom: 100px;
  }
  .modalViewRight h1{
    font-size: 30px;
    width: 70%;
    margin-bottom: 100px;
  }
    .modalViewLeft {
    margin-top: 235px;
    height:450px;
    width:35%;
    margin: 20;
    background-color: var(--brightOrange);
    border-radius: 20px 0px 0px 20px;
    padding: 35;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    
  }
    .modalViewRight {
    margin-top: 235px;
    height:450px;
    width:35%;
    margin: 20;
    background-color: var(--brightBlue);
    border-radius: 0px 20px 20px 0px;
    padding: 35;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    
  }
  .button{
    border-radius: 20;
    padding: 10;
    
  }
  .buttonOpen{
    background-color: #F194FF;
  }
  .buttonClose{
    background-color: #4CAF50;
    outline: none;
    border: none;
    margin-bottom: 50px;
    
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
  }
    .buttonClose:hover{
     transform: scale(1.1);
      transition: transform 150ms ease,
  }
  .textStyle{

    color: white;
    font-weight: bold;
    text-align: center;
  }
  .modalText {
    margin-bottom: 15;
    text-align: center;
  }
/*****************************************************/
.badlink{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--midToneGrey);
  height: 100vh;
}
.badlink img{
  height: 300px;
  
  margin-top: 70px;

}
.badlink h2{
position: relative;}
/********************animation************************/

/*.shape:hover {
  position: relative;
  
  
  x-transition: all .75s ease-in-out;
  animation: ani .75s infinite;
}


@keyframes ani {
  0% {
    top: 0;
  }
  50% {
    top: 5px;
    
  }
  100% {
    top: 0;
  }
}*/





 /**********************react Calender ***************************/

.react-calendar {
  
  width: 90%;
  background: rgba(255, 255, 255, 0);
  /*border: 1px solid #a0a096;*/
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: 'Poppins', sans-serif;
  line-height: 1.125em;
  margin-bottom: 30px;
 
  
}
.react-calendar--doubleView {
  /*width: 700px;*/
  
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
 
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
  
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0 !important;

}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
  
}
.react-calendar button:enabled:hover {
  cursor: pointer;
  
}
.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
  
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
  
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
  margin-bottom: 10px;
  
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
  
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
  
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
  
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
  
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
  
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 1.5em 0.5em;
  background: none;
  
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #ffff76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #20c5ee;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
.react-calendar abbr{
 color: black;
 text-decoration: none;
 font-size: 12px;
 line-height: 3em;
}
/*************************************************************/
/****************************footer*********************************/
.footer{
  font-size: 12px;
  height: 0px;
  text-align: center;
  margin-top: -20px;
  color: rgb(189, 189, 189);
  position: absolute;
  left: 35px;
}

.error {
  color: red;
}
.hideFind{
  display: none;
}




/*************************************************************/
  @media (max-width: 320px) {  
  
   
.logoutAndHome{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: right;
  }
  
  .userNav h2{
    margin: 0px;
   
  }
  .reveal{
    display: none;
  }
}
 @media (max-width: 350px) { 
.alignFormAltered{
  margin-left: 20px;
  color: white;
 
 
 }
 .greenButton{
  height: 40px;
  width: 125px;
font-size: 20px;
margin-left: 50px;

}
.greenSwitchedButton{
 
  margin-left: 100px;
}


}

  @media (max-width: 420px) { 
   .illustration{
 
  height: 150px;
  width: auto;
}
.orangeBox{
  height: 100px;
  width: auto;

}
  .home{
      margin-left: 30px;
    }
  .dogWalkersLeft  {
    width: 200px !important;
  
  }
  .hoverOverCal div{
    
    width: 60%;
  }
 .dogWalkersRight{
      width: 200px  !important;
      
    }
    .newLocationSearchInput{
      width: 75%;
    }
  .adjust{
    margin-top: 5px;
  }
  .insideForm{
    padding-right: 0px;
  }
  .eachDogNew{
    height: 370px;
  }
  .eachDogNew label{
        font-size:13px !important;

  }
 
  .eachDogNew textarea{
    width: 200px !important;
    
  }
  .camera{
    
    width: 25px;
    height:auto;
    margin-bottom: -20px;
  }
  .cameraDiv{
     margin-top: -90px;
  }
  .cameraDiv p{
    font-size: 13px !important;
    margin-top: 22px;
  }
  
  .dogPic {
    height: 75px;
    width: 75px;
  }
  .dogPic img{
    height: 75px;
    width: 75px;
  }
  
  .instructions{
 width:225px !important;
}
.dogPicSuccess{
  height: 75px;
  margin-top: px;
    width: 75px;
}
.successPhoto .camera{
 margin-top: 25px;
}
.removeDog {
  position: relative;
  right: 13px;
  top: 0px;
}
.eachDog{
  height: 370px;
  /*flex-direction: column-reverse;
  justify-content: flex-end;*/
}
  .leftSideUserProfile h2{
  }
  .userNav{
    margin-bottom: 10px;
  }
  .dogInfo{
    padding-right: 0px;
  }
   .greenButton{

  margin-left: 30px; 
  
  
}
.alignForm{
   margin-left: 30px;
  
  
  
  }
  }
  

  @media  (max-width: 499px) {
 .onDisplay{
    display: none;
  }
  .elementHidden{
    display: block;
  }
 
    .bluePat{
    height: 200px !important;
  }
 

.logoAndLogin .logo{
  height:50px
}



}


  @media  (max-width: 500px) {
    .dogsRow{
  margin-top: 25px;
  margin-bottom: 25px;
   } 
   .alignForm form{
     width: 70%;
   }
  
    .navigation .element   {
    font-size: 12px !important;
    
  }
 .notHidden{
   display: none;
 }
.hideFind{
  display: inline-block;
}

  }

  @media (max-width: 550px) {
.logoutAndHome{
      font-size: 12px;
      display: flex;
      flex-wrap: wrap;
      margin-right: 10px;
      margin-top: 7px;
  }
  .userNav h1{
    font-size: 18px;
    margin-left: 10px;
    margin-top: 0px;
    /*background-color: #c3c0c0;*/
    color:white;
    padding:15px 10px 0px 10px;
    height: 30px;
  }
 
}
  @media (max-width: 599px) {


.orangeBox{
  height: 160px;
  width: auto;

}
  }
   @media (max-width: 600px) {
      .signUpBox{
 background-color: var(--midToneGrey);
 color: var(--darkOrange);
 padding: 10px;
 padding-top: 12px;
 width: 100px;
 height: 20px;
 margin: 15px 15px 0px 0;
 display: flex;
 justify-content: space-between;
 cursor: pointer;
 
}
  .seacrhCircle{
      position: absolute;
      right: 3px !important;
      top: 7px !important;
      height: 25px !important;
      width: 25px !important;
      background-color: var(--darkOrange) ;
      border-radius: 20px;
      border: white 5px solid;
      margin-bottom: -30px;
      
      
    }
    .loggedCircle{
    margin-top: -7px;
    margin-right: -2px;
  }
    .seacrhCircle:after {
      content: " ";
      position: absolute;
      z-index: 1;
      top: -13px;
      left: -13px;
      right: -13px;
      bottom: -13px;
      border: 10px solid var(--darkOrange);
      border-radius: 50px;
    }
    
  .navigation .element{
   text-align: center;
  }
  .bluePat{
    height: 230px;
  }
  .navigation{
    width:80%
  }


    
}
 
  
  @media only screen and (min-width: 600px) {
 
   


.orangeBox{
  height: 250px;
  width: auto;
    background-color: var(--darkOrange);

}
  }
   @media  (max-width: 650px) {
     .newLocationSearchInput{
       width: 200px;
     }
     .navigation div{
       padding-left:0px;
     }
 .bothDropDowns{
  
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  margin-top: 15px;
}
.dropDownlocation{
  margin-top: 15px;
  width: 250px;
}
.dropDownlocation form{
  margin-left: 10px;
}
    .close{
  
    margin-left: 210px;
    
  }

    }
  @media only screen and (max-height: 650px) {
  


}

@media(max-height: 725px) {
.footer{
  display: none;
}
}
@media(min-width: 700px) {
 

.orangeBox{
  height: 300px;
  width: auto;
    background-color: var(--darkOrange);

}
}
  @media  (max-width: 700px) {
     .home{
      width: 84%;
    }
     .leftSwitchedLayout{
 display: none;
}
    .seacrhCircle {
      
      display: none;
      
    }
    .seacrhCircle:after {
      display: none;
    }
.element{
  
   text-align: center;
   
 }
   .element.endNav{
  display: inline;
   }
  .element.endNav{
  }
  .element.endNav.element.left{
    padding-left: 0px;
  }
  .element.endNav.element.right{
   padding-right: 0px;
 }
  
}

  @media  (max-width: 800px) {
  
    
   
    .leftSideUserProfile{
      width: 100%;
    }
    .leftAndRight{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      
    }
   
    .userCalender{
      width: 100%;
      margin-top: 25px;
    }
    .dogBlock{
      width: 100%;
      
    }
    .rightSideUser{
      width: 100%;
      margin-top: 0px;
    }
    .arrow-down-blue {
      
      right: 7%;
      
    }
    .arrow-down-orange{
    
      right: 7%;
      
    }
    .leftSideUser{
      width: 100%;
    }
     
}
 @media (max-width: 900px) {
 
  .element.endNav{
   padding-right: 40px;
 }
 
  .leftLayout{
 display: none;
}
}

 @media (min-width: 900px) {
    


.orangeBox{
  height: 400px;
  width: auto;
    background-color: var(--darkOrange);
}
}

  @media only screen and (max-width: 1000px) {
    
 
    .react-calendar abbr{
 
 line-height: 2em;
}
    .line{
      border-left: none;
    }
    .seacrhCircle{
      position: absolute;
      right: 1px;
      top: 2px;
      height: 20px;
      width: 20px;
      background-color: var(--darkOrange) ;
      border-radius: 20px;
      border: white 5px solid;
      margin-bottom: -30px;
      
    }
    .seacrhCircle:after {
      content: " ";
      position: absolute;
      z-index: 1;
      top: -13px;
      left: -13px;
      right: -13px;
      bottom: -13px;
      border: 10px solid var(--darkOrange);
      border-radius: 50px;
    }
  .element{
    font-size: 12px ;
    
  }
 
  .leftSideUserProfile{
    height: 60%;
  }
  .react-calendar {
  
    
    line-height: .1em;
    
  }
  .dogWalkersRight{
   height: 150px;
  }
}
 @media only screen and (max-width: 1100px) {
  .newLocationSearchInput{
    background-color: black;
    border: none;
    height: 15px;
    padding: 10px;
    padding-top: 12px;
    padding-left: 15px;

    color: white;
    font-size: 1.2em;
    margin-bottom: 10px;
    
  }
  .rightSideUser form{
    display: flex;
    align-items: center;
    
    
  }

 
  }
   @media only screen and (min-width: 1100px) {
    
    .homeSearch .dogWalkers {
  
    height:100px; 
    width:250px;
    overflow:hidden; 
    overflow-y:scroll;
    background-color: rgb(236, 236, 236);
    list-style: none;
    padding: 10px;
    border-radius: 10px;
    border: 10px white solid;
    margin-right: 20px;
   }
  .closeRight{
    height: 30px;
    width: auto;
    position: relative;
    top: 10px;
    margin-left: 360px;
    cursor: pointer;
  }
  .close{
    height: 30px;
    width: auto;
    position: relative;
    top: 10px;
    margin-left: 310px;
    cursor: pointer;
  }
  
   .dropDownlocation{
  z-index: 99;
  height: 200px;
  width: 350px;
  background-color: var(--brightOrange);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgb(0, 0, 0);

}
.homeSearch{
  border-radius: 10px;
  background-color: var(--brightOrange);
  color: white;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  /*border: yellowgreen 2px solid;*/
   z-index: 99;
  border-radius: 10px;
  background-color: var(--brightOrange);
  box-shadow: 0 5px 10px rgb(0, 0, 0);
}
}
  @media only screen and (min-width: 1300px) {
   
    .schedule{
    
    position: absolute;
    right: 17%;
    z-index: 0;
    margin-top: 15px;
  }}
  @media only screen and (max-width: 1300px) {
     .home{
      width:85%
    }
    
  .rightSideUser h2{
    width: 70%;
  }
 
  .allUserElements{
    width: 90%;
  }
  }
  @media only screen and (max-width: 1400px) {
    .dogWalkersRight{
      width: 250px;
    }
    .dogWalkersLeft{
      width: 250px;
    }
    
  }
 @media only screen and (min-width: 1400px) {
 
 
  .alignForm{
   margin-left: 50px;
   color: white;
   font-size: 30px;
  
  }
 
  .mainDiv{
    display: flex; 
    width: 65%;
  }
  .alignForm input{
    margin-top: 8px;
    margin-bottom: 10px;
    border: none;
    height: 25px;
    border-radius: 3px;
  }
  .alignSwitchedForm input{
    margin-top: 11px;
    margin-bottom: 10px;
    border: none;
    height: 25px;
    border-radius: 3px;
    
  }
  
  .controlDiv{
    display: flex;
    flex-wrap: wrap;
  }

  .alignFormAltered form{
    display: flex;
    flex-direction: column; 
    width: 40%;
    font-size: 18px;
  }
  

  .greenSwitchedButton{
    height: 60px;
    width: 145px;
    text-align: center;
    background-color: #4CAF50; /* Green */
    /*background-color: var(--textAndButtonYellow);*/
    border-radius: 20px;
    color: white;
    font-size: 25px;
    border: none;
    margin-top: 100px; 
  }
}
@media only screen and (max-width: 1600px) {
 .modalViewLeft {
    height: 350px;
  }
  .modalViewRight{
    height: 350px;
  }
  
}

@media only screen and (min-width: 1600px) {


.orangeBox{
  height: 500px;
  width:100%;
    

    background-color: var(--darkOrange);
  border-bottom: 30px solid var(--lightGrey);
  display: flex;
  justify-content: center;
}

  .modalViewLeft h1{
    font-size: 35px;
    width: 75%;
    margin-bottom: 150px;
  }
  .modalViewRight h1{
    font-size: 35px;
    width: 80%;
    margin-bottom: 150px;
  }
}
@media only screen and (max-width: 1700px) {
  .dogWalkersLeft{
    width:250px;
  }
  .dogWalkersRight{
    width:250px;
  }
.instructions{
 width:290px;
 
}
.eachDogNew textarea{
  width: 290px;
}
}
