.hidden {
  display: none !important;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* ---------------------begin profile info styling--------------------- */
.walker-userNav h1{
  
    margin-top: 0px;
    background-color: rgb(187, 184, 184);
    color:white;
    padding:13px 10px 43px 10px;
    
    border-top: 6px solid;
    border-image: url('../../assets/smallPat.png') 120  round;
    margin-left: 10px;
    margin-top: 0px;
    background-color: var(--brightOrange);
    color:white;
    padding:13px 10px 30px 10px;
    border-radius: 0px 0px 10px 10px;
    /*border-top: paleturquoise 10px solid;*/
    height: 35px;
  }
.walker-profile {
  width: 100vw;
  min-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
}

.walker-userNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 90vw;
  min-width: 70%;
  white-space: nowrap;
  margin-bottom: 3rem;
  background-color: rgb(235, 232, 232);
  padding: 0 1rem 0 1rem;
  
}

.walker-userNav-links {
  margin-top: 2px;
  display: flex;
  flex-wrap: wrap;
  
}

.walker-blackBar {
  color: white;
  background-color: black;
  height: 50px;
  padding: 0 0 0 30px;
  display: flex;
  align-items: center;
  font-size: 25px;
  border-radius: 10px;
  margin-bottom: 20px;
  flex-grow: 1;
  padding: 0 0 0 30px;
}

.walker-profile-card-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.walker-profile-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.walker-calendar-card {
  background-color: var(--lightGrey);
  display: flex;
  flex-direction: column;
  width: 47%;
  border-radius: 10px;
}

.walker-calendar-card > h4 {
  margin: 1rem 1rem;
}

.walker-calendar-card > .react-calendar {
  width: 350px;
  align-self: center;
}

.walker-info-card {
  border-radius: 10px;
  background-color:  var(--brightBlue);

  color: white;
  width: 47%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}


/* ---------------------end profile info styling--------------------- */

/* ---------------------begin appointment card styling--------------------- */

.appointments {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.appointments-label {
  font-size: 1.2em;
  margin: 1rem 0 0 0;
}

.appointment-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  max-width: max-content;
  justify-content: space-around;
}

.appointment-card {
  background-color: #dadada;
  min-width: fit-content;
  max-width: 100vw;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem 0 0.5rem 0;
}

.appointment-date,
.appointment-hour,
.appointment-walker,
.appointment-owner,
.appointment-doggos {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}

.appointment-doggos {
  flex-direction: column;
}

.appointment-doggos-container {
  margin: 0.5rem 0 0 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-content: center;
}

.little-doggo-card {
  justify-self: center;
  margin: 0.25rem;
  position: relative;
  display: flex;
  max-width: max-content;
}

.little-doggo-card-picture {
  width: 6rem;
  height: 6rem;
  border-radius: 10%;
  object-fit: cover;
}

.little-doggo-card-name {
  position: absolute;
  background-color: var(--brightOrange);
  padding: 0.15rem 0.3rem 0.15rem 0.3rem;
  border-radius: 0.35rem;
  color: aliceblue;
  text-align: center;
  bottom: 0.35rem;
  right: 0.35rem;
}

.schedule-appointment-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond;
  margin: 2rem;
  padding: 2rem;
  width: 60%;
  border-radius: 10px;
}

.schedule-form-hide-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #00000000;
  border: none;
  z-index: 1;
  cursor: pointer;
}

.schedule-form-hide-btn > img {
  width: 2rem;
  height: 2rem;
}

.schedule-form-hide-btn :first-child:hover {
  transition: 0.25s;
  transform: rotate(90deg);
}

.schedule-form-label {
  font-size: 1.25rem;
  justify-self: center;
  align-self: center;
  margin: 0 0 1.5rem 0;
}

.schedule-form-label :first-child {
  font-weight: bold;
}

.schedule-date,
.schedule-hour {
  display: flex;
  justify-content: center;
  margin: 0 0 1rem 0;
  width: 90%;
}

.schedule-date :first-child,
.schedule-hour :first-child {
  flex-grow: 1;
}

.schedule-doggos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.schedule-doggos-card-container {
  margin: 0.5rem 0 0 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-content: center;
}

.schedule-doggo-card {
  justify-self: center;
  margin: 0.25rem;
  position: relative;
  display: flex;
  max-width: max-content;
}

.schedule-doggo-card-picture {
  width: 10rem;
  height: 10rem;
  border-radius: 10px;
  object-fit: cover;
}

.schedule-doggo-card-name {
  position: absolute;
  background-color: var(--brightOrange);
  padding: 0.15rem 0.3rem 0.15rem 0.3rem;
  border-radius: 0.35rem;
  color: aliceblue;
  text-align: center;
  bottom: 0.35rem;
  right: 0.35rem;
}

.schedule-doggo-card-checkbox {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: 0.35rem;
  left: 0.35rem;
}

.schedule-form-show-btn {
  height: 2rem;
  width: 15rem;
  text-align: center;
  background-color: #4caf50;
  border-radius: 10px;
  color: white;
  font-size: 19px;
  border: none;
  margin: 1.5rem 0 0 0;
  z-index: 1;
  cursor: pointer;
  align-self: center;
}

.schedule-submit-btn {
  height: 2rem;
  width: 6rem;
  text-align: center;
  background-color: #4caf50;
  border-radius: 10px;
  color: white;
  font-size: 19px;
  border: none;
  margin: 1.5rem 0 0 0;
  z-index: 1;
  cursor: pointer;
  align-self: center;
}

/* ---------------------end appointment card styling--------------------- */

/* ---------------------begin add availability styling--------------------- */

.avail-container {
  width: 70%;
}
.add-avail-bar {
  display: flex;
}

.add-avail-bar-text {
  flex-grow: 1;
}

.add-avail-plus {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 1.6rem;
  align-self: center;
  cursor: pointer;
}

.add-avail-modal-bg {
  position: fixed;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.425);
}

.add-availability-form {
  display: flex;
  flex-direction: column;
  max-width: min-content;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px;
  z-index: 3;
  background-color: #f1f2f2;
}

.add-hourly-table {
  width: 100%;
}

.add-hourly-availability {
  display: grid;
  width: content;
  grid-template-rows: repeat(8, auto);
  justify-content: center;
  border: 1px solid #ababab99;
  border-radius: 4px;
}

.add-hourly-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.add-hourly-cell,
.add-hourly-hour,
.add-hourly-h,
.add-hourly-day {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  height: 25px;
  width: 25px;
  flex-grow: 1;
  font-size: small;
  color: rgba(0, 0, 0, 0.425);
}

.add-hourly-day {
  flex-grow: 1;
  align-items: center;
  justify-self: center;
  text-align: center;
}

.add-hourly-checkbox {
  margin: 0px;
  padding: 0px;
  height: 25px;
  width: 25px;
}

.add-avail-start-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.add-avail-start-date-text {
  padding: 5px;
  font-weight: bold;
}

.add-avail-end-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.add-avail-end-date-text {
  padding: 5px;
  font-weight: bold;
}

.add-avail-rate {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.add-avail-rate-text {
  padding: 5px;
  font-weight: bold;
}

.add-avail-rate-input {
  padding: 5px;
  margin: 10px;
  margin-bottom: 0;
  width: 3rem;
}

.add-avail-hourly {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.add-avail-hourly-text {
  padding: 5px;
  font-weight: bold;
}

/* ---------------------end add availability styling--------------------- */

/* ---------------------begin show availability styling--------------------- */

.no-availability {
  margin-left: 1.5rem;
}

.show-avail-eye {
  height: 1.5rem;
  width: 2.7rem;
  margin-right: 1rem;
  align-self: center;
  cursor: pointer;
}

.show-avail-bar {
  display: flex;
}

.show-avail-bar-text {
  flex-grow: 1;
}

.show-avail-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.show-avail-card {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  max-width: min-content;
  border-radius: 10px;
  padding: 10px;
  background-color: #f1f2f2;
}

.show-avail-hourly-table {
  width: 100%;
  display: flex;
}

.show-hourly-availability {
  display: grid;
  grid-template-rows: repeat(8, auto);
  border: 1px solid #ababab99;
  border-radius: 4px;
  justify-content: center;
}

.show-hourly-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.show-hourly-row-hours {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.show-hourly-cell-available {
  background-color: #4caf50;
}

.show-hourly-cell {
  background-color: #eaebc350;
}

.show-hourly-hour {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.425);
}

.show-hourly-day {
  font-size: small;
  color: rgba(0, 0, 0, 0.425);
}

.show-hourly-cell,
.show-hourly-cell-available,
.show-hourly-hour,
.show-hourly-day {
  padding: 1px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-avail-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.show-avail-start-text {
  padding: 5px;
  font-weight: bold;
}

.show-avail-end {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.show-avail-end-text {
  padding: 5px;
  font-weight: bold;
}

.show-avail-rate {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.show-avail-rate-text {
  padding: 5px;
  font-weight: bold;
}

.show-avail-hourly {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}
.show-avail-hourly-text {
  padding: 5px;
  font-weight: bold;
}

/* ---------------------end show availability styling--------------------- */

/* ---------------------begin button styling--------------------- */
.submit-btn {
  height: 2rem;
  width: 5rem;
  text-align: center;
  background-color: #4caf50;
  border-radius: 10px;
  color: white;
  font-size: 19px;
  border: none;
  margin: 10px;
  z-index: 1;
  cursor: pointer;
  align-self: center;
}

.delete-avail-btn {
  height: 2rem;
  width: 5rem;
  text-align: center;
  background-color: #da3c3c;
  border-radius: 10px;
  color: white;
  font-size: 19px;
  border: none;
  margin: 10px;
  z-index: 1;
  cursor: pointer;
  align-self: center;
}
/* ---------------------end button styling--------------------- */

/* ---------------------begin media query styles--------------------- */

/* '2xl': '1536px', */
@media (max-width: 1536px) {
}

/* 'xl':'1280px', */
@media (max-width: 1280px) {
  .schedule-doggos-card-container {
    grid-template-columns: repeat(2, auto);
  }
  .aboutHolder{
    width:90%;
    
  }
}

/* 'lg': '1024px', */
@media (max-width: 1024px) {
  .aboutHolder{
    width:85%;
    
  }
  .walker-userNav {
    /* display: flex;
    justify-content: space-between; */
    font-size: 0.7rem;
    white-space: nowrap;
    align-self: center;
    
  }
  .avail-container {
    width: 80%;
  }
  .walker-profile-card-container {
    width: 80%;
  }
  /* add availability styling start */
  .add-hourly-availability {
    border: 1px solid #ababab99;
    border-radius: 4px;
  }
  .add-hourly-cell,
  .add-hourly-hour,
  .add-hourly-h,
  .add-hourly-day,
  .add-hourly-checkbox {
    font-size: 12px;
    height: 20px;
    width: 20px;
  }
  /* add availability styling end */
}

/* 'md': '768px', */
@media (max-width: 768px) {
  .walker-profile-top {
    flex-direction: column;
  }
  .walker-calendar-card,
  .walker-info-card {
    width: 90%;
    align-self: center;
    margin-top: 15px;
  }
  .schedule-doggos-card-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .schedule-form-hide-btn,
  .schedule-form-hide-btn > img {
    width: 0.9rem;
    height: 0.9rem;
    top: 1rem;
    right: 1.25rem;
  }
  .walker-profile-card-container {
    width: 85%;
  }

  /* show availability styling start */
  .avail-container {
    width: 85%;
  }
  .show-hourly-hour {
    font-size: 9px;
  }

  .show-hourly-day {
    font-size: 9px;
  }

  .show-hourly-cell,
  .show-hourly-cell-available,
  .show-hourly-hour,
  .show-hourly-day {
    width: 16px;
    height: 16px;
  }
  /* show availability styling end */
  /* add availability styling start */
  .add-hourly-availability {
    border: 1px solid #ababab99;
    border-radius: 4px;
  }
  .add-hourly-cell,
  .add-hourly-hour,
  .add-hourly-h,
  .add-hourly-day,
  .add-hourly-checkbox {
    font-size: 10px;
    height: 16px;
    width: 16px;
  }
  /* add availability styling end */
}

/* 'sm': '640px', */
@media (max-width: 640px) {
  .walker-userNav {
    /* display: flex;
    justify-content: space-between; */
    
    white-space: nowrap;
    align-self: center;
  }
  .walker-userNav-links {
      font-size: 11px;
      margin-left: 10px;
  }
  .walker-profile {
    justify-self: center;
  }
  .walker-profile-card-container {
    width: 90%;
  }
  .walker-blackBar {
    color: white;
    background-color: black;
    height: 50px;
    width: 90%;
    padding: 0 0 0 30px;
    display: flex;
    align-items: center;
    align-self: center;
    font-size: 25px;
    border-radius: 10px;
    margin-bottom: 5px;
  }
  .walker-profile-top {
    flex-direction: column;
  }
  .walker-calendar-card,
  .walker-info-card {
    width: 90%;
    align-self: center;
  }

  /* show availability styling start */
  .avail-container {
    width: 90%;
    margin-left: auto;
    margin-right: 16px;
  }
  .show-hourly-availability {
    display: grid;
    grid-template-rows: repeat(8, auto);
    border: 1px solid #ababab99;
    border-radius: 4px;
    justify-content: center;
  }
  .show-avail-hourly-table {
    width: 100%;
    display: flex;
  }
  .show-hourly-hour {
    font-size: 9px;
    color: rgba(0, 0, 0, 0.425);
  }

  .show-hourly-day {
    font-size: 9px;
    color: rgba(0, 0, 0, 0.425);
  }

  .show-hourly-cell,
  .show-hourly-cell-available,
  .show-hourly-hour,
  .show-hourly-day {
    padding: 1px;
    width: 13px;
    height: 13px;
  }
  /* show availability styling end */
  /* add availability styling start */
  .add-hourly-availability {
    border: 1px solid #ababab99;
    border-radius: 4px;
  }
  .add-hourly-cell,
  .add-hourly-hour,
  .add-hourly-h,
  .add-hourly-day,
  .add-hourly-checkbox {
    font-size: 10px;
    height: 16px;
    width: 16px;
  }
  /* add availability styling end */
}

/* 'xs': '480px' */
@media (max-width: 480px) {
   .walker-userNav-links {
      display: flex;
      flex-wrap: wrap;
     
      flex-direction: column;
      align-items: flex-end;
      margin-top: -7px;
      
  }
  .walker-userNav {
     height: 75px;
   
  }
  .walker-userNav h1{
    height: 4px;
    padding-top: 20px;
    margin-left: -5px;
    font-size: 15px;
  }
  
  .logout{
    margin-bottom: -10px;
  }
   .revealWalker{
    display: none;
  }
  /* show availability styling start */
  .avail-container {
    width: 90%;
  }
  .show-hourly-availability {
    display: grid;
    grid-template-rows: repeat(8, auto);
    border: 1px solid #ababab99;
    border-radius: 4px;
    justify-content: center;
  }
  .show-avail-hourly-table {
    width: 100%;
    display: flex;
  }
  .show-hourly-hour {
    font-size: 9px;
    color: rgba(0, 0, 0, 0.425);
  }

  .show-hourly-day {
    font-size: 9px;
    color: rgba(0, 0, 0, 0.425);
  }

  .show-hourly-cell,
  .show-hourly-cell-available,
  .show-hourly-hour,
  .show-hourly-day {
    padding: 1px;
    width: 10px;
    height: 10px;
  }
  /* show availability styling end */
  /* add availability styling start */

  .add-hourly-availability {
    border: 1px solid #ababab99;
    border-radius: 4px;
  }

  .add-hourly-cell,
  .add-hourly-hour,
  .add-hourly-h,
  .add-hourly-day,
  .add-hourly-checkbox {
    font-size: 8px;
    height: 13px;
    width: 13px;
  }
  
 
 
   

  /* add availability styling end */
}

/* ---------------------end media query styles--------------------- */
